:root {
  --primary-color: rgb(12, 124, 236);
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* COMMON LAYOUT */

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;

}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardRow {
  padding-top: 60px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}



/* flex prop */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;

}

.justify-around {
  justify-content: space-around;

}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.g1 {
  gap: 10px;
}

.g2 {
  gap: 20px;
}

.g3 {
  gap: 30px;
}

/* utilities */

.pt2 {
  padding-top: 20px;
}
.pt3 {
  padding-top: 30px;
}
.pt4 {
  padding-top: 40px;
}

/* HEADER */

/* nav */
.navBar {
  height: 100px;
}

.navBar a {
  font-size: 1rem;
  font-weight: 600;
}

.navBar img {
  padding: 10px;
  width: 100px;
  aspect-ratio: 1;
}



.active {
  display: flex;
  align-items: center;
  height: 100px;
  color: var(--primary-color);
  border-bottom: 7px solid var(--primary-color);
}

.off {
  display: flex;
  align-items: center;
  height: 100px;
  color: black;
  border-bottom: 7px solid rgba(255, 255, 255, 0);
}

/* JUMBO */
.jumbo {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/jumbotron.jpg);
  min-height: 345px;
}

/* MAIN CONTENT */
/* bg */
.mainContent {
  position: relative;
  min-height: 400px;
  background-color: rgba(28, 28, 28, 255);
}

/* label */
.mainContentLabel {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  position: absolute;
  left: 18%;
  top: -5%;
  padding: 20px;
  display: inline-block;
  background-color: var(--primary-color);
}

.ctaBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.ctaMainContent {
  font-weight: 800;
  color: white;
  background-color: var(--primary-color);
  padding: 8px 40px;
  border: none;
}


/* comic cards */

.card {
  height: 250px;
  width: calc(100% / 6 - 10px);
  max-height: 300px;

}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card p {
  color: white;
  font-size: 0.8rem;
  padding: 5px;
}

/* FOOTER */

/* cta */

.cta {
  padding: 20px;
  background-color: var(--primary-color);
}

.cta a {
  color: white;
}

.cta li img {
  width: 50px;
  
}

/* footer bg */
.footerBg {
    background-image: url(footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    background-color: #1c1c1c; 
}

.footerLogo{
  height: 400px;
  background-size: 40%;
  background-position-x: 90%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-image: url(dc-logo-bg.png);
}

.footerLogo li, .footerLogo h3 {
  display: inline-block;
}

.navCol{
  display: flex;
  flex-direction: column;
  color: white;
  width: calc(45% / 3 - 10px);
}

.navCol li {
  color: grey;
}

/* FOOTER BOTTOM */
.footerBottom {
  
  height: 100px;
  background-color: rgba(48,48,48,255);
}

/* footer bottom right */
.primary {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

/* footer bottom left */

.primary-left {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  display:grid;
  place-content: center;
  border: 2px solid var(--primary-color);
  padding: 8px 16px
}

.primary-left a {
  color: white;
}



